
/**
Index:

body
a
nav
navbar
.right-align
#search-bar-text
.container-main
.video-player
.video-viewer
.video-title
.channel-info
.video-info
.related-videos
.comments

**/

body {
  font-family: arial;
}

a {
  text-decoration: none;
}
a:visited {
  color: blue;
}

nav {
  background-color: #000;
  min-height: 56px;
}

navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

.right-align {
  float: right;
}

#youtube-logo {
  height: 24px;
  width: 80px;
}

#search-bar-text {
  max-width: 20%;
  min-width: 7%;
}

#user-icon {
  height: 32px;
  width: 32px;
  border-radius: 18px;
}
.transparent {
  background: transparent;
  border: none;
}

.container-main {
  text-align: center;
  margin-left: 24px;
}

.container-main div {
  color: white;
}

.video-player {
  padding: 24px 24px 0 0;
  align-items: center;
  display: inline-block;
  background-color: grey;
  width: 576px;
}

.video-viewer {

  width: inherit;
}

.video-title {
  height: 93px;
  background-color: red;
  text-align: left;
}

.video-title h1 {
font-size: 18px;
font-weight: 450;
}

.video-title p {
color: #AAA;
font-size: 14px;
}

.channel-info img {
  align-items: left;
  display: block;
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.channel-info h2 {
  font-size: 14px;
}

.channel-info p {
  font-size: 13px;
}

#subscribe {
  color: white;
  background: red;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 550;
  border-radius: 3px;
  border: 0 solid;
}

.video-info p {
  font-size: 14px;
}

.video-info a {
  font-size: 14px;
  color: white;
}

.related-videos {
  background-color: grey;
}

h3 {
  text-align: left;
  font-size: 16px;
}

h4 {
  display: inline;
  font-size: 14px;
}

.related-videos {
text-align: left;
}

.related-videos span {
}


.related-videos p {
  display: inline;
  font-size: 13px;
}

.related-videos img {
  text-align: left
  width: 168px;
  height: 94px;
}

.comments {
  height: 53px;
  background-color: Orange;
  font-size: 14px;
}
